{% extends 'header_base.html'  %}

{% load i18n %}


{% block catalog %}
<li class="nav-item">
  <a class="nav-link" href="{% url 'index_statuses' %}">{% trans "Статусы" %}</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="#">{% trans "Метки" %}</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'index_tasks' %}">{% trans "Задачи" %}</a>
</li>
<li class="nav-item">
  <form action="{% url 'logout_user' %}" method="post">
    {% csrf_token %}
    <input class="nav-link" type="submit" value="{% trans 'Выход' %}">
  </form>
</li>
{% endblock %}
